{% extends "dashboard_base.html" %}
{% block title %}LCC {{session.get('username')}} Home{% endblock %}
{% block content %}

<div class="container ">
    <div class="container d-flex justify-content-center align-item-center my-5">
        <h1>Hello! {{session.get('username')}} </h1>
    </div>
    <div class="content-container d-flex column justify-content-center align-item-center">
        <div class="d-flex flex-column">
            <a href="/user_profile" class="btn btn-lg home-btn my-2">Edit Profile</a>
            <a href="/update_password"class="btn btn-lg home-btn my-2" >Update password</a>
            <a href="/view_issues" class="btn btn-lg home-btn my-2" >View Issues</a>
            <a href="/resolved_issues" class="btn btn-lg home-btn my-2" >View Resolved Issues</a>
            <a href="/all_users" class="btn btn-lg home-btn my-2">View Users</a>
        </div>
    </div>
</div>
{% endblock %}