{% extends "dashboard_base.html" %}
{% block title %}LCC {{session.get('username')}} Home{% endblock %}
{% block content %}

<div class="container justify-content-center">
        <div class="header-wrapper text-center mt-2">
            <h1>All users</h1>
        </div>
       <!-- Included a searchbar from w3 jQuery on filter --> 
        <!-- searching for "active" will show everything as the word is in all the user status.  -->
        <div class="table-responsive wrapper ">
          <div class="searchbar d-flex justify-content-end mx-auto" style="max-width: 800px;">
            <input class="form-control my-2" style="width:250px;" id="myInput" type="text" placeholder="Search...">
        </div>
            <table class=" table mx-auto text-center"style="max-width: 800px; width: 100%;" id="tableHeader" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" >Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                {% for user in all_users %}
                <tr>
                    <td><a href="/manage_users?id={{user.user_id}}">{{user.user_id}}</a></th>
                    <td>{{user.username}}</td>
                    <td>{{user.role|capitalize}}</td>
                    <td>{{user.status|capitalize}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table> 
        </div>
    </div>       
</div>
<!-- general search bar, does a blanket search, case insensitive from w3 JQuery filter table -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase().trim();
        $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toString().toLowerCase().indexOf(value) > -1);
        });
      });
    });
  </script>


{% endblock %}