{% extends "dashboard_base.html" %}
{% block title %}LCC {{session.get('username')}} Home{% endblock %}
{% block content %}
<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container ">

    <h2 class="text-center"> #{{manage_user['user_id']}} : {{manage_user['username']}}</h2>
    <div class="row justify-content-center">
        <div class="container d-flex justify-content-center my-3 ">
            {% if manage_user['profile_image'] %}
            <img src="{{ url_for('static', filename='profile_pic/user_' + (manage_user['user_id'] | string) + '.jpg') }}" 
            alt="profile_image" class="img-thumbnail img-fluid" style="max-width: 200px; max-height: 200px;">
            {% else %}
            <img src="{{ url_for('static', filename='profile_pic/default.jpg') }}" 
            alt="default_profile_image" class="img-thumbnail img-fluid" style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="mb-3 mt-3">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name"  value="{{manage_user['first_name']|capitalize}}" disabled>
            </div>
            <div class="mb-3">
                    <label for="lastname" class="form-labelcol-sm-4 col-form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"  value="{{manage_user['last_name']|capitalize}}" disabled>
            </div>
            <div class=" mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email"  name="email"  value="{{manage_user['email']}}"disabled>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="location" class="form-control" id="location"  name="location"  value="{{manage_user['location']}}" disabled>
            </div>
        </div>
    </div>
<!-- for admin access only to manage status and role of users -->
<form method="POST" action="{{url_for('manage_users')}}" class="col-md-6 mx-auto">
    <input type="hidden" name="id" id="d" value="{{ manage_user['user_id'] }}">
    <div class=" mb-3 ">
        <label for="status" class="form-label ">Status</label>
            <select class="form-control" id="status"  name="status"  value="{{manage_user['status']}}" >
            <option value="active"
            {% if manage_user['status'] == 'active' %} selected {% endif %}>Active</option>  
            <option value="inactive"
            {% if manage_user['status'] == 'inactive' %} selected {% endif %}>Inactive</option>
            </select>
    </div>
    <div class="mb-3">
        <label for="user_role" class="form-label">Role</label>
        <select class="form-control" id="user_role"  name="user_role"  value="{{manage_user['user_role']}}" >
        <option value="visitor"
        {% if manage_user['role'] == 'visitor' %} selected {% endif %}>Visitor</option>  
        <option value="helper"
        {% if manage_user['role'] == 'helper' %} selected {% endif %}>Helper</option>
        <option value="admin"
        {% if manage_user['role'] == 'admin' %} selected {% endif %}>Admin</option>
        </select>
    </div>
     </div>
    <div class ="update_profile-button d-flex justify-content-center align-items-center mb-3">
        <button type="submit" class="btn btn-secondary">Update Profile</button>
    </form>
</div>

{% endblock %}