{% extends "dashboard_base.html" %}
{% block title %}LCC {{session.get('username')}} Home{% endblock %}
{% block content %}
<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container d-flex justify-content-center"> 
    <form action="{{ url_for('update_password') }}" method="post">
        <div class="header-wrapper my-3 ">
            <h1>Update Password</h1>
            <div class="mt-3">
                <p style="font-size:14px"><i>* At least 8 character long, include at least:<br> 1 number and special character</i></p>
            </div>
        </div>
        <div class="col mb-3">
            <label for="current_password" class="form-label">Current Password</label>
            <input type="password" class="form-control {% if password_error %} is-invalid {% endif %}" aria-describedby="current_password"  name="current_password" placeholder="Enter current password..." required>
            <div class="invalid-feedback">{{ password_error }}</div>
        </div>
        <div class="col mb-3">
            <label for="current_password_confirm" class="form-label">Confirm Current Password</label>
            <input type="password" class="form-control {% if password_error %} is-invalid {% endif %}" aria-describedby="current_password_confirm"  name="current_password_confirm" placeholder="Re-Enter current password..." required>
            <div class="invalid-feedback">{{ password_error }}</div>
        </div>
        <div class="col mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control {% if new_password_error %} is-invalid {% endif %}" aria-describedby="new_password"  name="new_password" placeholder="Enter new password..."required >
            <div class="invalid-feedback">{{ new_password_error }}</div>
        </div>
        <div class="col mb-3">
            <label for="new_password_confirm" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control {% if new_password_error %} is-invalid {% endif %}" aria-describedby="new_password_confirm"  name="new_password_confirm" placeholder="Re-Enter new password..."required >
            <div class="invalid-feedback">{{ new_password_error }}</div>
        </div>
       
            <div class ="update_password-button d-flex justify-content-center align-items-center mb-3">
                <button type="submit" class="btn btn-secondary">Update password</button>
        </div>
    </form>
</div>
{% endblock %}