{% extends "dashboard_base.html" %}
{% block title %}{{session.get['username']}}Profile{% endblock %}
{% block content %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <div class="container d-flex container justify-content-center mt-4"><h1>#{{user_profile['user_id']}} - {{session.get('username')}}</h1> </div>
    <div class="wrapper container d-flex justify-content-center align-items-center ">
        <form action="{{ url_for('update_profile') }}" method="POST" enctype="multipart/form-data"> 
            <input type="hidden" name="user_id" value="{{user_id}}">
            <div class="container d-flex justify-content-center my-3 ">
                {% if user_profile['profile_image'] %}
                <img src="{{ url_for('static', filename='profile_pic/user_' + (user_profile['user_id'] | string) + '.jpg') }}" 
                alt="profile_image" class="img-thumbnail img-fluid" style="max-width: 200px; max-height: 200px;">
                {% else %}
                <img src="{{ url_for('static', filename='profile_pic/default.jpg') }}" 
                alt="default_profile_image" class="img-thumbnail img-fluid" style="max-width: 200px; max-height: 200px;">
                {% endif %}
            </div>
            <div class="container d-flex justify-content-center">
            <!-- used bootstrap svg icon for the X in remove profile pic -->
                <button type="submit" class="btn btn-sm btn-outline-danger" style="background-color:transparent; border: none; color: rgb(245, 9, 9);" name ="remove_pic">Remove Profile picture
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                </button>
            </div>
            <div class="col mb-3">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{user_profile['first_name']}}" value="{{user_profile['first_name']|capitalize}}" required>
            </div>
            <div class="col mb-3">
                    <label for="lastname" class="form-labelcol-sm-4 col-form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="{{user_profile['last_name']}}" value="{{user_profile['last_name']|capitalize}}" required>
            </div>
            <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control {% if email_error %} is-invalid {% endif %}" aria-describedby="email"  name="email" placeholder="{{user_profile['email']}}" value="{{user_profile['email']}}"required>
                <div class="invalid-feedback">{{ email_error }}</div>
            </div>
            <div class="col mb-3">
                <label for="role" class="form-labelcol-sm-4 col-form-label">Role</label>
                <input type="text" class="form-control" id="role" name="role" placeholder="{{user_profile['role']}}" value="{{user_profile['role']|capitalize}}" disabled>
            </div>
            <div class="col mb-4">
                    <label for="location" class="form-label">Location</label> 
                    <input type="text" class="form-control" id="location" name="location" placeholder="{{ user_profile['location']|capitalize }}" value="{{ user_profile['location']|capitalize }}"required>
            </div>
            
            <div class=" container d-flex align-items-center mb-3 p-0">
                <div class="col">
                    <label for="profile_img" class="form-label">Update Profile Picture</label>
                    <input type="file" class="form-control" id="profile_img" name="profile_img" accept="image/*">
                </div>
                </div>
            </div>
            <div class ="update_profile-button d-flex justify-content-center align-items-center mb-3">
                <button type="submit" class="btn btn-secondary" name ="profile_img">Update Profile</button>
            </div>
        </form>
    </div>
<!-- overall wrapper -->
</div>
{% endblock %}